/*  #9e2222 rojo oscuro
    #f5e6ca baige
    #fb9300 amarilo oscuro
    #343f56 gris oscuro */

html{
    scroll-behavior: smooth;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    line-height: 1.3em; 
    margin: 0;
}

.container{
    width: 85%;
    height: 25px;
    margin: 0 auto;
 }

 .header{
     background-color: #9e2222;
     width: 100%;
     color: white;
     padding: 2rem 0;
     position: fixed;
     left: 0;
     top: 0;
     right: 0;

 }

 .header a{
     color: white;
     text-decoration: none;
 }

 .logo-nav-container{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .logo{
     letter-spacing: 15px;
     font-size: 1.3em;
 }

 .navegation ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
 }

 .navegation ul li{
     display: inline-block;
 }

 .navegation ul li a{
     display: block;
     padding: 0.5rem 1rem;
     transition: all 400ms linear;
     border-radius: 5px;
 }

 .navegation ul li a:hover{
     background: #e04b4b;
 }

 /* CUERPO */
 .main{
     margin: 5.55rem 0 0 0;
     background-image: url(Imagenes/fondo.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     color: white;
     width: 100%;
     max-width: 1200;
     height: 570px;
     display: flex;
     justify-content: center;
     align-items: center;

}
#conte-main{
    width: 100%;
    height: 570px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#texmain{
    margin: 15% 0 0 0;
    text-align: center;
}
#div-button{
    width: 250px;
    height: 30px;
    margin: auto auto;
    padding: 12px 0 10px 0;
    border-radius: 15px;
    background-color: rgba(255, 234, 112, 0.6);
}
#button{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#div-button:hover{
    width: 250px;
    height: 30px;
    transform: scale(1.1);
    margin: auto auto;
    padding: 12px 0 10px 0;
    border-radius: 15px;
    background-color: rgba(252, 229, 97, 0.9);
}
#presen-padre{
    width: 100%;
    height: 400px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#presen-hijo{
    width: 60%;
    margin: 100px 0 25px 0;
    text-align: center;
}
#firma{
    width: 30%
}
#foto-padre{
    width: 100%;
    height: 300px;
}
#foto-hijo{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
.fotof{
    margin: 0px -2.5px;
    width: 33.3%;
}
.art-padre{
    width: 100%;
    max-width: 850;
    height: 400px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
#art-hijo{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#beer{
    width: 15%;
    text-align: center;
}
.art{
    width: 22%;
    height: 300px;
    margin: 0 -20px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}
.art:hover{

    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}
.fotob{
    width: 60%;
    height: 200px;
    border-radius: 15px;
    box-shadow: -3px 5px 40px 8px rgba(255, 255, 255, 0.75);
}
#pasador{
    background: #9e2222;
    color: white;
    padding: 2rem 0;
}
.flecha{
    width: 15%;
    height: 50px;
}
.flecha:hover{
    color: chartreuse;
}
#button:hover {
    transform: scale(1.2);
}

#footer{
     width: 100%;
     height: 100px;
     background: #2e2e2e;
     padding: 0 auto;
     display: flex;
     align-items: center;
     text-align: center;
 }

 .queloque{
     margin: 0 auto;
 }
 
@media screen and (min-width:770px) and (max-width:992px){
#foto-padre{
    height: 200px;
}
#foto-hijo{
    height: 200px;
}
.art-padre{
    height: 700px;
    display: flex;
    align-items: flex-start;
}
#art-hijo{
    flex-wrap: wrap;
}
#beer{
    width: 40%;
    margin: 30px 0 0 0;
}
.art{
    width: 40%;
    height: 300px;
    margin: 30px 0 0 0;
}
#sub{
    width: 40%;
}
}

@media screen and (min-width:350px) and (max-width:770px){
h1{
    margin: 50px 0 -20px 0;
    font-size: 1.8rem;
    line-height: 50px;
}
h2{
    font-size: 1.2rem;
}
h4{
    font-size: 1.2rem;
}

.container{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
#foto-padre{
    height: 130px;
}
#foto-hijo{
    height: 130px;
}
.art-padre{
    height: 1000px;
    display: flex;
}
#art-hijo{
    display: flex;
    flex-direction: column;
}
#beer{
    width: 40%;
    margin: 30px 0 0 0;
}
.art{
    width: 60%;
    height: 350px;
    margin: 20px 0 0 0;
    padding-bottom: 20px;
    display: flex;
}
.fotob{
    width: 60%;
    height: 150px;
}
#pasador{
    height: 30px;
}
p{
    font-size: 0.9rem;
}
.flecha{
    margin: -20px 0 10px 0;
}
ul{
    font-size: 0.9rem;
}
.main{
    height: 670px;

}
#conte-main{
   width: 100%;
   height: 670px;

}